---
layout: base
---

<article class="h-entry post post-note">
  <div class="post-meta">
    <time class="dt-published" datetime="{{ page.date | isoDate }}">
      {{ page.date | readableDate }}
    </time>
    <a class="u-url permalink" href="{{ page.url | url }}">#</a>
  </div>

  <div class="e-content post-content">
    {% if title %}
    <h2 class="p-name">{{ title }}</h2>
    {% endif %}
    {{ content | safe }}
  </div>

  {% if tags %}
  <div class="post-tags">
    {% for tag in tags %}
    <a href="{{ ('/tags/' + (tag | slugify) + '/') | url }}" class="p-category">{{ tag }}</a>
    {% endfor %}
  </div>
  {% endif %}

  {% if discussionUrl %}
  <footer class="post-footer">
    <div class="post-discussion">
      <p><a href="{{ discussionUrl }}">Comment on GitHub</a></p>
    </div>
  </footer>
  {% endif %}

  {# Hidden microformats data #}
  <a class="u-uid" href="{{ siteConfig.site.url }}{{ page.url }}" hidden></a>
  <span class="p-author h-card" hidden>
    <a class="p-name u-url" href="{{ siteConfig.site.author.url }}">{{ siteConfig.site.author.name }}</a>
  </span>
</article>
